<!Doctype html>
<html>
<head>
    <meta charset="utf=8">
    <title>index</title>
</head>
<body>
    <div>
        <h1>Name: {{ name }} </h1> <!-- Session takes the name from the form and Posts it into {{name}} -->
        <h1>Location: {{ location }} </h1> <!-- Session takes the name from the form and Posts it into {{location}} -->
        <h1>Language: {{ language }} </h1> <!-- Session takes the name from the form and Posts it into {{language}} -->
        <h1>Comment: {{ comment }} </h1> <!-- Session takes the name from the form and Posts it into {{comment}} -->
        <a href="/">Click here to return</a>
    </div>
</body>
</html>