<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    <div class="container-fluid">
        <div class="row-lg-3">

            <form method='POST' action='/process'>
                <h2 class="row-item">Name</h2>
                <input class="row-item" type='text' name="name">   <!-- This is a form that links to the name = request.form['name'] -->

                <h2 class="row-item">Location</h2>
                <select class="row-item" name="location">        <!-- This is a form that links to the location = request.form['location'] -->
                    <option value="Chicago">Chicago</option>
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                </select>

                <h2 class="row-item">Language</h2>
                <select class="row-item" name="language">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                </select>

                <h2 class="row-item">Comments</h2>            
                <textarea class="row-item" name="comment" rows="8"></textarea>
                <input class="button" type='submit' value='Submit'>

            </form>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css')}}">
<!-- call flask/Scripts/activate -->