<!Doctype html>
<html>
<head>
    <meta charset="utf=8">
    <title>Ninja Gold</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css')}}">
</head>
<body>
    <div class="wrapper">
        <h3>Your Gold: {{ session["my_gold"] }}</h3>
        <form action="/refresh" method="POST">
            <input type="submit" value="Reset">
        </form>
        <div class="Boxes">
            <h1>Farm</h1>
            <h2>(earns 10-20 gold)</h2>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="Farm" />
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="Boxes">
            <h1>Cave</h1>
            <h2>(earns 5-10 gold)</h2>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="Cave" />
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="Boxes">
            <h1>House</h1>
            <h2p>(earns 2-5 gold)</h2>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="House" />
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="Boxes">
            <h1>Casino</h1>
            <h2>(earns 0-50 gold)</h2>
            <form action="/process_money" method="post">
                <input type="hidden" name="building" value="Casino" />
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <h3>Activities log:</h3>
        <div>
                <p>{{ session["activities"] }}</p>
        </div>
    </div>
</body>
</html> <!-- call flaskEnv/Scripts/activate -->
        <!-- C:\Users\Scott\Desktop\DojoAssignments\Python\MyEnvironments> -->
        <!-- Look into Bootstrap for quick styling-->