<!Doctype html>
<html>
<head>
    <meta charset="utf=8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Ninja Gold</title>
</head>
<body>
<div class="container-fluid">
    <h1>Gold:</h3>
        <form action="/refresh" method="POST">
            {% csrf_token %}
            <input type="submit" value="reset">
        </form>
        <div class="col-md-6">
            <h2>Farm</h1>
            <p>(earns 10-20 gold)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="building" value="farm">
                <input type="submit" value="find gold!">
            </form>
        </div>
        <div class="col-md-6">
            <h2>Cave</h1>
            <p>(earns 5-10 gold)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="building" value="cave">
                <input type="submit" value="find gold!">
            </form>
        </div>
        <div class="col-md-6">
            <h1>House</h1>
            <p>(earns 2-5 gold)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="building" value="house">
                <input type="submit" value="find gold!">
            </form>
        </div>
        <div class="col-md-6">
            <h1>Casino</h1>
            <p>(earns 0-50 gold)</p>
            <form action="/process_money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="building" value="casino">
                <input type="submit" value="find gold!">
            </form>
        </div>
        <div>
            <h3>Activities log:</h3>
            <table>
                {% if activity in activities %}
                <td class="row">
                    <td class="col"><p>{ session['activity'] }</p></td>
                </td>
                {% endif %}
            </table>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html> <!-- call flaskEnv/Scripts/activate -->
        <!-- C:\Users\Scott\Desktop\DojoAssignments\Python\MyEnvironments> -->